@import "../../styles/Variables.scss";

.about-page {
  width: $mobile;
  margin: 1rem auto;
  border-radius: 0.5rem;

  .about-page-title {
    font-size: 1.6rem;
    text-align: center;
    color: $header-color;
    padding: 1rem;
  }

  .procedures-of-getting-services {
    width: $tablet;
    margin: 1rem auto;

    .specific-service-procedure {
      box-shadow: 0 0 2px;
      border-radius: 0.3rem;
      margin-bottom: 1rem;

      .sub-title {
        font-size: 1.5rem;
        text-align: center;
        padding: 1rem 0.5rem;
        background-color:#4169e1;
      }

      .step {
        padding: 0.5rem 1rem;

        & span {
          color: rgb(55, 7, 200);
          font-weight: bold;
        }
      }
    }
  }
}

/* Tablet screen size */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about-page {
    width: $tablet;
    margin: 1rem auto;

    .about-page-title {
      font-size: 2.5rem;
      text-align: center;
      color: $header-color;
      padding: 2rem;
    }

    .procedures-of-getting-services {
      width: $tablet;
      margin: 1rem auto;

      .specific-service-procedure {
        box-shadow: 0 0 2px;
        border-radius: 0.3rem;

        .sub-title {
          font-size: 1.8rem;
          padding: 1rem 0.5rem;
          background-color:#4169e1;
        }

        .step {
          padding: 0.5rem 1rem;

          & span {
            color: rgb(55, 7, 200);
            font-weight: bold;
          }
        }
      }
    }
  }
}

/* Labtop screen size */
@media screen and (min-width: 1024px) {
  .about-page {
    width: $laptop;
    margin: 1rem auto;

    .about-page-title {
      font-size: 2.5rem;
      text-align: center;
      color: $header-color;
      padding: 2rem;
    }

    .procedures-of-getting-services {
      width: $laptop;
      margin: 1rem auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;

      .specific-service-procedure {
        box-shadow: 0 0 2px;
        border-radius: 0.3rem;

        .sub-title {
          font-size: 1.8rem;
          padding: 1rem 0.5rem;
          background-color:#4169e1;
        }

        .step {
          padding: 0.5rem 1rem;
          font-size: 1.3rem;
          

          & span {
            color: #3f2bf3;
            font-weight: bold;
          }

          & a {
            color: red;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
